@using System.Data.SqlClient
@model List<Order>

<div>
   

@if(Model.Count<=8)
{
    <div class="bg-black" style="height:100vh; padding-top:10px;">
         <div class="d-flex justify-content-center">
            <a style="margin:15px;" asp-controller="Restaurant" asp-action="DisplayOrders" class="btn btn-secondary ">Received</a>
            <a style="margin:15px;" asp-controller="Restaurant" asp-action="PreparingOrders" class="btn btn-secondary">Preparing Food</a>
            <a style="margin:15px;" class="btn btn-primary">Deliverable</a>
        </div>
        <div >
    <h2 style="text-align:center;" class="text-success">
       Orders Ready to Deliver... On the Way to Customer
    </h2>
@*   <table>
        
        <tr><td><p style="font-size:15px">@Html.ActionLink("Log Out","Login")</p></td></tr>
      <tr><td><p style="font-size:15px">@Html.ActionLink("Add Food Item","AddFoodItem")</p></td></tr>
      
        
    </table>*@
</div> 
<br/>
@*@using(@Html.BeginForm("CompletedOrder","Restaurant",FormMethod.Post))
{*@
 <table  class="table table-striped ">
        <tr class="text-white">
                <th>Order Id</th>
                <th>InVoiceNo</th>
                <th>UserName</th>
                <th>Food Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Address</th>
                <th>Order Time</th>
                <th>  </th>
               
                
        </tr>
    @{
        int i = 1;
    }
        @foreach(var obj in Model)
        {
                @if (@obj.Status != "Prepared")
                {
                    continue;
                }

        SqlConnection conn = new SqlConnection("Data Source = fooddeliverydatabase.ctzhubalbjxo.ap-south-1.rds.amazonaws.com,1433 ; Initial Catalog = FoodDeliveryApplication ; Integrated Security=False; User ID=admin; Password=surya1997;");

                        SqlCommand sqlCommand = new SqlCommand(String.Format("select Address from Orders where InVoiceNo = '{0}'",obj.InVoiceNo) , conn);
                        conn.Open();
                        SqlDataReader sr = sqlCommand.ExecuteReader();
                        while (sr.Read())
                        {
                    ViewBag.Add = sr["Address"].ToString();
                }

                        conn.Close();
            
            <tr class="text-white">
                <td>@i</td>

                <td>@obj.InVoiceNo</td>
              
                <td>@obj.CustomerName</td>
              
                <td>@obj.FoodItem</td>
             
                <td>@obj.Quantity</td>
              
                <td>@obj.Price</td>
                <td>@ViewBag.Add</td>
                <td>@obj.OrderTime</td>
                
                 
                <td><a asp-controller="Restaurant" asp-action="CompletedOrder" asp-route-id = "@obj.OrderNo" class="btn btn-primary">Delivered</a></td>
                
            </tr>
            i++;
        }   
 </table>

    </div>
}
else
{
    <div class="bg-black" style="padding-bottom:25px; padding-top:10px;">
        <div class="d-flex justify-content-center">
            <a style="margin:15px;" asp-controller="Restaurant" asp-action="DisplayOrders" class="btn btn-secondary ">Received</a>
            <a style="margin:15px;" asp-controller="Restaurant" asp-action="PreparingOrders" class="btn btn-secondary">Preparing Food</a>
            <a style="margin:15px;" class="btn btn-primary">Deliverable</a>
        </div>
        <div >
    <h2 style="text-align:center;" class="text-success">
       Orders Ready to Deliver... On the Way to Customer
    </h2>
@*   <table>
        
        <tr><td><p style="font-size:15px">@Html.ActionLink("Log Out","Login")</p></td></tr>
      <tr><td><p style="font-size:15px">@Html.ActionLink("Add Food Item","AddFoodItem")</p></td></tr>
      
        
    </table>*@
</div> 
<br/>
@*@using(@Html.BeginForm("CompletedOrder","Restaurant",FormMethod.Post))
{*@
 <table  class="table table-striped ">
        <tr class="text-white">
                <th>Order Id</th>
                <th>InVoiceNo</th>
                <th>UserName</th>
                <th>Food Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Address</th>
                <th>Order Time</th>
                <th>  </th>
               
                
        </tr>
    @{
        int i = 1;
    }
        @foreach(var obj in Model)
        {
                @if (@obj.Status != "Prepared")
                {
                    continue;
                }

        SqlConnection conn = new SqlConnection("Data Source = fooddeliverydatabase.ctzhubalbjxo.ap-south-1.rds.amazonaws.com,1433 ; Initial Catalog = FoodDeliveryApplication ; Integrated Security=False; User ID=admin; Password=surya1997;");

                        SqlCommand sqlCommand = new SqlCommand(String.Format("select Address from Orders where InVoiceNo = '{0}'",obj.InVoiceNo) , conn);
                        conn.Open();
                        SqlDataReader sr = sqlCommand.ExecuteReader();
                        while (sr.Read())
                        {
                    ViewBag.Add = sr["Address"].ToString();
                }

                        conn.Close();
            
            <tr class="text-white">
                <td>@i</td>

                <td>@obj.InVoiceNo</td>
              
                <td>@obj.CustomerName</td>
              
                <td>@obj.FoodItem</td>
             
                <td>@obj.Quantity</td>
              
                <td>@obj.Price</td>
                <td>@ViewBag.Add</td>
                <td>@obj.OrderTime</td>
                
                 
                <td><a asp-controller="Restaurant" asp-action="CompletedOrder" asp-route-id = "@obj.OrderNo" class="btn btn-primary">Delivered</a></td>
                
            </tr>
            i++;
        }   
 </table>



    </div>
}

</div>




