@using System.Data.SqlClient
@model List<CompletedOrder>
@{
    ViewData["Title"] = "History";
}
@if(@Model.Count<=10)
{
    <div class="bg-black" style="height:100vh; padding-top:10px;">
        <div >
    <h2 style="text-align:center;" class="text-success">
        Completed Orders
    </h2>
@*   <table>
        
        <tr><td><p style="font-size:15px">@Html.ActionLink("Log Out","Login")</p></td></tr>
      <tr><td><p style="font-size:15px">@Html.ActionLink("Add Food Item","AddFoodItem")</p></td></tr>
      
        
    </table>*@
</div> 
<br/>
@*@using(@Html.BeginForm("CompletedOrder","Restaurant",FormMethod.Post))
{*@
 <table  class="table table-striped ">
        <tr class="text-white">
                <th>Order Id</th>
                <th>InVoiceNo</th>
                <th>UserName</th>
                <th>Food Item</th>
                <th>Quantity</th>
                <th>Price</th>
                 <th>Address</th>
                <th>Delivered Time</th>
               
        </tr>
    @{
        int i = 1;
    }
        @foreach(var obj in Model)
        {
            SqlConnection conn = new SqlConnection("Data Source = fooddeliverydatabase.ctzhubalbjxo.ap-south-1.rds.amazonaws.com,1433 ; Initial Catalog = FoodDeliveryApplication ; Integrated Security=False; User ID=admin; Password=surya1997;");

                        SqlCommand sqlCommand = new SqlCommand(String.Format("select Address from Orders where InVoiceNo = '{0}'",obj.InVoiceNo) , conn);
                        conn.Open();
                        SqlDataReader sr = sqlCommand.ExecuteReader();
                        while (sr.Read())
                        {
                    ViewBag.Add = sr["Address"].ToString();
                }

                        conn.Close();
            <tr class="text-white">
                <td>@i</td>

                <td>@obj.InVoiceNo</td>
              
                <td>@obj.CustomerName</td>
              
                <td>@obj.FoodItem</td>
             
                <td>@obj.Quantity</td>
              
                <td>@obj.Price</td>
                <td>@ViewBag.Add</td>
                <td>@obj.DeliveredDate</td>
                
                        
                <td class="text-success" style="font-weight:500;">Delivered</td>
            </tr>
            i++;
        }   
 </table>

    </div>
}
else
{
    <div class="bg-black" style="padding-bottom:25px; padding-top:10px;">
        <div >
    <h2 style="text-align:center;" class="text-success">
        Completed Orders
    </h2>
@*   <table>
        
        <tr><td><p style="font-size:15px">@Html.ActionLink("Log Out","Login")</p></td></tr>
      <tr><td><p style="font-size:15px">@Html.ActionLink("Add Food Item","AddFoodItem")</p></td></tr>
      
        
    </table>*@
</div> 
<br/>
@*@using(@Html.BeginForm("CompletedOrder","Restaurant",FormMethod.Post))
{*@
  <table  class="table table-striped ">
        <tr class="text-white">
                <th>Order Id</th>
                <th>InVoiceNo</th>
                <th>UserName</th>
                <th>Food Item</th>
                <th>Quantity</th>
                <th>Price</th>
                 <th>Address</th>
                <th>Delivered Time</th>
               
        </tr>
    @{
        int i = 1;
    }
        @foreach(var obj in Model)
        {
            SqlConnection conn = new SqlConnection("Data Source = fooddeliverydatabase.ctzhubalbjxo.ap-south-1.rds.amazonaws.com,1433 ; Initial Catalog = FoodDeliveryApplication ; Integrated Security=False; User ID=admin; Password=surya1997;");

                        SqlCommand sqlCommand = new SqlCommand(String.Format("select Address from Orders where InVoiceNo = '{0}'",obj.InVoiceNo) , conn);
                        conn.Open();
                        SqlDataReader sr = sqlCommand.ExecuteReader();
                        while (sr.Read())
                        {
                    ViewBag.Add = sr["Address"].ToString();
                }

                        conn.Close();
            <tr class="text-white">
                <td>@i</td>

                <td>@obj.InVoiceNo</td>
              
                <td>@obj.CustomerName</td>
              
                <td>@obj.FoodItem</td>
             
                <td>@obj.Quantity</td>
              
                <td>@obj.Price</td>
                <td>@ViewBag.Add</td>
                <td>@obj.DeliveredDate</td>
                
                        
                <td class="text-success" style="font-weight:500;">Delivered</td>
            </tr>
            i++;
        }   
 </table>
        </div>
}



 



