@using System.Data.SqlClient
@model List<Order>
@{
    int r = 0;
    int p = 0;
    int d = 0;
    foreach (var i in @Model)
    {
        if (i.Status == "Placed")
        {
            r += 1;
        } else if (i.Status == "Accepted")
        {
            p += 1;
        } else if (i.Status == "Prepared")
        {
            d += 1;
        }
    }
}
<div>
   

@if(Model.Count<=10)
{
    <div class="" style="height:100vh; padding-top:10px; background-color:antiquewhite;">
          <div class="d-flex justify-content-center">
            <a style="font-size:13px; width: 135px; margin:8px; border-radius:100px; border-width:2px;"  asp-controller="Restaurant" asp-action="DisplayOrders" class="btn btn-outline-primary ">Received (@r)</a>
            <a style="font-size:13px; width: 135px; margin:8px; border-radius:100px;" asp-controller="Restaurant" asp-action="PreparingOrders" class="btn btn-primary">Preparing Food (@p)</a>
            <a style="font-size:13px; width: 135px; margin:8px; border-radius:100px; border-width:2px;" asp-controller="Restaurant" asp-action="DeliverableOrders" class="btn btn-outline-primary">Deliverable (@d)</a>
        </div>
      
        <div>
            <h2 style="text-align:center; font-size:23px; padding:7px;" class="text-primary">
               Accepted Orders
            </h2>
            </div>
            

 <table  class="table table-striped ">
        <tr class="text-black">
                <th>Order Id</th>
                <th>InVoiceNo</th>
                <th>UserName</th>
                <th>Food Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Address</th>
                <th>Order Time</th>
                <th>Food Prepared</th>
           
                
        </tr>
    @{
        int i = 1;
    }
        @foreach(var obj in Model)
        {
                @if (@obj.Status != "Accepted")
                {
                    continue;
                }

        SqlConnection conn = new SqlConnection("Data Source = fooddeliverydatabase.ctzhubalbjxo.ap-south-1.rds.amazonaws.com,1433 ; Initial Catalog = FoodDeliveryApplication ; Integrated Security=False; User ID=admin; Password=surya1997;");

                        SqlCommand sqlCommand = new SqlCommand(String.Format("select Address from Orders where InVoiceNo = '{0}'",obj.InVoiceNo) , conn);
                        conn.Open();
                        SqlDataReader sr = sqlCommand.ExecuteReader();
                        while (sr.Read())
                        {
                    ViewBag.Add = sr["Address"].ToString();
                }

                        conn.Close();
            
            <tr class="text-black">
                <td>@obj.OrderNo</td>

                <td>@obj.InVoiceNo</td>
              
                <td>@obj.CustomerName</td>
              
                <td>@obj.FoodItem</td>
             
                <td>@obj.Quantity</td>
              
                <td>@obj.Price</td>
                <td>@ViewBag.Add</td>
                <td>@obj.OrderTime</td>
                
                 
                <td class="text-center"><a asp-controller="Restaurant" asp-action="PreparedOrder" asp-route-id = "@obj.OrderNo" class="" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-check-fill text-success" viewBox="0 0 16 16">
  <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
</svg></a></td>
               
                
            </tr>
            i++;
        }   
 </table>
            @if (p == 0)
            {
                <div align="center" style="align-content:center;align-items:center;justify-content:center;margin-top:100px">
    <h4 style="color:#535665;font-size: 20px;font-weight: 600;">No Orders to prepare food!</h4>
        <p style="color:#7e808c">Please wait some time <br/> check received orders</p>
        </div>
            }
        </div>
}
else
{
    <div style="padding-bottom:25px; padding-top:10px; background-color:antiquewhite;">
        <div class="d-flex justify-content-center">
            <a style="font-size:13px; width: 135px; margin:8px; border-radius:100px; border-width:2px;"  asp-controller="Restaurant" asp-action="DisplayOrders" class="btn btn-outline-primary ">Received (@r)</a>
            <a style="font-size:13px; width: 135px; margin:8px; border-radius:100px;" asp-controller="Restaurant" asp-action="PreparingOrders" class="btn btn-primary">Preparing Food (@p)</a>
            <a style="font-size:13px; width: 135px; margin:8px; border-radius:100px; border-width:2px;" asp-controller="Restaurant" asp-action="DeliverableOrders" class="btn btn-outline-primary">Deliverable (@d)</a>
        </div>
      
        <div>
            <h2 style="text-align:center; font-size:23px; padding:7px;" class="text-primary">
               Accepted Orders
            </h2>
            </div>
            

 <table  class="table table-striped ">
        <tr class="text-black">
                <th>Order Id</th>
                <th>InVoiceNo</th>
                <th>UserName</th>
                <th>Food Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Address</th>
                <th>Order Time</th>
                <th>Food Prepared</th>
           
                
        </tr>
    @{
        int i = 1;
    }
        @foreach(var obj in Model)
        {
                @if (@obj.Status != "Accepted")
                {
                    continue;
                }

        SqlConnection conn = new SqlConnection("Data Source = fooddeliverydatabase.ctzhubalbjxo.ap-south-1.rds.amazonaws.com,1433 ; Initial Catalog = FoodDeliveryApplication ; Integrated Security=False; User ID=admin; Password=surya1997;");

                        SqlCommand sqlCommand = new SqlCommand(String.Format("select Address from Orders where InVoiceNo = '{0}'",obj.InVoiceNo) , conn);
                        conn.Open();
                        SqlDataReader sr = sqlCommand.ExecuteReader();
                        while (sr.Read())
                        {
                    ViewBag.Add = sr["Address"].ToString();
                }

                        conn.Close();
            
            <tr class="text-black">
                <td>@obj.OrderNo</td>

                <td>@obj.InVoiceNo</td>
              
                <td>@obj.CustomerName</td>
              
                <td>@obj.FoodItem</td>
             
                <td>@obj.Quantity</td>
              
                <td>@obj.Price</td>
                <td>@ViewBag.Add</td>
                <td>@obj.OrderTime</td>
                
                 
              <td class="text-center"><a asp-controller="Restaurant" asp-action="PreparedOrder" asp-route-id = "@obj.OrderNo" class="" ><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-patch-check-fill text-success" viewBox="0 0 16 16">
  <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708z"/>
</svg></a></td>
               
                
            </tr>
            i++;
        }   
 </table>
 @if (p == 0)
            {
                <div align="center" style="align-content:center;align-items:center;justify-content:center;margin-top:100px">
    <h4 style="color:#535665;font-size: 20px;font-weight: 600;">No Orders to prepare food!</h4>
        <p style="color:#7e808c">Please wait some time <br/> check received orders</p>
        </div>
            }

    </div>
}

</div>








 